<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.user.mapper.DemoUserMapper">
</mapper>
<!--<mapper namespace="com.whu.user.mapper.DemoUserMapper">-->
  <!--<resultMap id="BaseResultMap" type="com.whu.api.bean.DemoUser">-->
    <!--<id column="id" jdbcType="VARCHAR" property="id" />-->
    <!--<result column="name" jdbcType="VARCHAR" property="name" />-->
    <!--<result column="age" jdbcType="VARCHAR" property="age" />-->
    <!--<result column="job" jdbcType="VARCHAR" property="job" />-->
  <!--</resultMap>-->
  <!--<sql id="Base_Column_List">-->
    <!--id, name, age, job-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from demo_user-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from demo_user-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.whu.api.bean.DemoUser">-->
    <!--insert into demo_user (id, name, age, -->
      <!--job)-->
    <!--values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, -->
      <!--#{job,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.whu.api.bean.DemoUser">-->
    <!--insert into demo_user-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="age != null">-->
        <!--age,-->
      <!--</if>-->
      <!--<if test="job != null">-->
        <!--job,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="age != null">-->
        <!--#{age,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="job != null">-->
        <!--#{job,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.whu.api.bean.DemoUser">-->
    <!--update demo_user-->
    <!--<set>-->
      <!--<if test="name != null">-->
        <!--name = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="age != null">-->
        <!--age = #{age,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="job != null">-->
        <!--job = #{job,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.whu.api.bean.DemoUser">-->
    <!--update demo_user-->
    <!--set name = #{name,jdbcType=VARCHAR},-->
      <!--age = #{age,jdbcType=VARCHAR},-->
      <!--job = #{job,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</update>-->
<!--</mapper>-->